In [194]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [195]:
df = pd.read_excel('crimes.xls')
sheets = pd.ExcelFile('crimes.xls').sheet_names
df = df[0:0]
for sheet in sheets:
        df = df.append(pd.read_excel('crimes.xls', sheet))

In [196]:
df.TIPO_CRIME.unique()

df.loc[df['TIPO_CRIME'].str.contains("CPB ART. 155"), 'TIPO_DE_CRIME'] = 1 #Furto
df.loc[df['TIPO_CRIME'].str.contains("CPB ART. 156"), 'TIPO_DE_CRIME'] = 1 #Furto
df.loc[df['TIPO_CRIME'].str.contains("CPB ART. 157"), 'TIPO_DE_CRIME'] = 2 #Roubo

In [197]:
df.TIPO_DE_CRIME.value_counts(dropna=False)

1.0    51907
2.0    41290
Name: TIPO_DE_CRIME, dtype: int64

In [198]:
df['ITEM_ROUBADO'] = df['TIPO_CRIME'].str.split('->',expand=True)[2].str.strip()
df.ITEM_ROUBADO.unique()

array([None, 'FURTO EM VEÍCULO', 'FURTO A TRANSEUNTE', 'OUTROS FURTOS',
       'ROUBO DE VEÍCULO',
       'ROUBO EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS',
       'ROUBO A TRANSEUNTE', 'ROUBO DE CELULAR', 'FURTO DE DOCUMENTOS',
       'ROUBO EM TRANSPORTE COLETIVO',
       'FURTO A USUÁRIOS DE TRANSPORTE COLETIVO', 'FURTO DE BICICLETA',
       'FURTO DE CELULAR', 'OUTROS ROUBOS', 'FURTO EM RESIDÊNCIA',
       'ROUBO EM RESIDÊNCIA',
       'FURTO EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS',
       'FURTO DE HIDRÔMETRO (MEDIDOR DE ÁGUA)',
       'FURTO DE FIOS DE COBRE/ALUMÍNIO', 'FURTO EM REPARTIÇÃO PÚBLICA',
       'FURTO DE VEICULO', 'FURTO DE PADRÃO', 'ROUBO EM FARMÁCIA',
       'ROUBO SAIDINHA DE BANCO', 'FURTO DE ARMAS', 'ROUBO DE DOCUMENTOS',
       'ROUBO DE JÓIAS', 'ROUBO A POSTO DE COMBUSTÍVEL',
       'FURTO DE BOTIJÃO DE GÁS', 'FURTO DE CARGA', 'FURTO DE SEMOVENTES',
       'ROUBO A CASA LOTÉRICA', 'ROUBO EM ZONA RURAL',
       'FURTO DE COMPUTADORES/PERIFÉRICOS',
       'ROUBO A ESTABELECIMENTO HOSPITALAR', 'ROUBO DE CARGA',
       'ROUBO A ESTABELECIMENTO DE ENSINO', 'ROUBO DE BICICLETA',
       'FURTO EM ZONA RURAL',
       'FURTO DE HODÔMETRO (MEDIDOR DE DISTANCIA PERCORRIDA)',
       'ROUBO A CAIXA ELETRÔNICO', 'ROUBO A INSTITUIÇÃO FINANCEIRA',
       'ROUBO COM RESTRIÇÃO DE LIBERDADE DA VÍTIMA',
       'FURTO DE APARELHO DE SOM DE AUTOMÓVEL', 'ROUBO DE SEMOVENTES',
       'ROUBO A EXCURSÃO',
       'ROUBO A OU DE VEICULO DE TRANSPORTE DE VALORES',
       'FURTO PRATICADO POR EMPREGADA DOMÉSTICA',
       'FURTO DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS',
       'ROUBO DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS'], dtype=object)

In [199]:

df.ITEM_ROUBADO.value_counts(dropna=False)

ROUBO A TRANSEUNTE                                      17450
NaN                                                     14514
FURTO DE DOCUMENTOS                                     10545
OUTROS FURTOS                                            8976
ROUBO DE VEÍCULO                                         5736
FURTO EM RESIDÊNCIA                                      4923
FURTO A USUÁRIOS DE TRANSPORTE COLETIVO                  4488
FURTO DE CELULAR                                         4122
FURTO EM VEÍCULO                                         3531
ROUBO DE CELULAR                                         3174
ROUBO EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS        2732
FURTO DE VEICULO                                         2494
FURTO EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS        2301
FURTO A TRANSEUNTE                                       2297
OUTROS ROUBOS                                            1714
ROUBO EM RESIDÊNCIA                                      1680
ROUBO EM TRANSPORTE COLETIVO                              628
ROUBO DE DOCUMENTOS                                       300
FURTO DE HIDRÔMETRO (MEDIDOR DE ÁGUA)                     247
FURTO EM REPARTIÇÃO PÚBLICA                               235
ROUBO EM FARMÁCIA                                         183
ROUBO A POSTO DE COMBUSTÍVEL                              183
FURTO DE PADRÃO                                           168
FURTO DE BICICLETA                                        157
FURTO DE ARMAS                                             54
FURTO DE FIOS DE COBRE/ALUMÍNIO                            53
ROUBO DE CARGA                                             50
FURTO DE CARGA                                             38
FURTO DE COMPUTADORES/PERIFÉRICOS                          32
FURTO DE SEMOVENTES                                        30
ROUBO SAIDINHA DE BANCO                                    28
FURTO EM ZONA RURAL                                        20
ROUBO DE BICICLETA                                         16
FURTO DE BOTIJÃO DE GÁS                                    12
ROUBO EM ZONA RURAL                                        12
ROUBO COM RESTRIÇÃO DE LIBERDADE DA VÍTIMA                 11
ROUBO A ESTABELECIMENTO DE ENSINO                          10
ROUBO A INSTITUIÇÃO FINANCEIRA                             10
FURTO DE HODÔMETRO (MEDIDOR DE DISTANCIA PERCORRIDA)        8
FURTO DE APARELHO DE SOM DE AUTOMÓVEL                       7
ROUBO A CASA LOTÉRICA                                       5
ROUBO A ESTABELECIMENTO HOSPITALAR                          5
ROUBO DE JÓIAS                                              4
ROUBO DE SEMOVENTES                                         3
FURTO PRATICADO POR EMPREGADA DOMÉSTICA                     3
ROUBO DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS                    3
ROUBO A CAIXA ELETRÔNICO                                    2
ROUBO A EXCURSÃO                                            1
FURTO DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS                    1
ROUBO A OU DE VEICULO DE TRANSPORTE DE VALORES              1
Name: ITEM_ROUBADO, dtype: int64

In [200]:
df['DIA_SEMANA'] = df['DATA_OCORRENCIA'].dt.dayofweek
df.head()

,TIPO_CRIME,DATA_OCORRENCIA,HORARIO,CIDADE,BAIRRO,RUA,GENERO_VITIMA,DN,TIPO_DE_CRIME,ITEM_ROUBADO
0,CPB ART. 155 § 4º: FURTO QUALIFICADO,2014-12-15,02:00,GOIÂNIA,JARDIM GUANABARA II,"AVENIDA GB-05, AREA ESPECIAL",NaN,NaN,1.0,None
1,CPB ART. 155 § 4º: FURTO QUALIFICADO,2014-11-08,10:00,GOIÂNIA,AEROVIÁRIO,RUA 612,NaN,NaN,1.0,None
2,CPB ART. 156: FURTO DE COISA COMUM,2014-12-18,09:00,GOIÂNIA,SETOR SUL,RUA 83,MASCULINO,1979-08-10 00:00:00,1.0,None
3,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-09-23,08:55,GOIÂNIA,SETOR SUDOESTE,RUA C 56,MASCULINO,1987-03-05 00:00:00,1.0,None
4,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-07-07,11:30,GOIÂNIA,JARDIM GOIÁS,AV. JAMEL CECÍLIO,FEMININO,1974-05-07 00:00:00,1.0,None

In [201]:
df['HORA'] = pd.to_datetime(df['HORARIO'], format='%H:%M').dt.hour
df['PERIODO_HORA'] = pd.cut(df.HORA,[0,6,12,18,24],labels=[1,2,3,4]) # 1 - MADRUGADA, 2 - MANHÃ, 3 - TARDE, 4 - NOITE
count_status_periodo = pd.value_counts(df['PERIODO_HORA'].values, sort=True)
count_status_periodo

2    27120
4    26825
3    26705
1    10407
dtype: int64

In [206]:
df1 = df['DN'].fillna('1800-01-01 00:00:00')
df['DN'] = df1
df2 = df.loc[df['DN'].str.contains('-')==False]
df = df.drop(df2.DN.index)
df['DATA_OCORRENCIA'] = pd.to_datetime(df['DATA_OCORRENCIA'])
df['DN'] = pd.to_datetime(df['DN'])
df['IDADE'] = ((df['DATA_OCORRENCIA'] -df['DN'])/365).dt.days
df.drop(df[df['IDADE'] > 95].index, inplace=True)
df.drop(df[df['IDADE'] < 10].index, inplace=True)
df.IDADE.value_counts()

21    2350
20    2271
23    2204
22    2196
25    2173
26    2123
19    2118
24    2109
28    2101
27    2076
29    2014
34    1955
30    1931
32    1927
33    1895
31    1885
18    1771
35    1763
36    1759
37    1692
38    1581
39    1533
40    1514
41    1365
42    1256
44    1204
43    1194
47    1138
45    1107
46    1099
      ...
70     322
14     276
71     276
72     259
73     234
74     219
76     176
75     164
77     143
13     136
78     128
79      89
80      86
12      68
81      65
82      53
84      46
83      41
86      25
85      24
87      18
11      17
88      16
89      10
90       8
91       5
10       4
92       2
93       2
95       2
Name: IDADE, dtype: int64

In [207]:
result = df.groupby(["BAIRRO", "DATA_OCORRENCIA"]).size().reset_index(name="COUNT")

for index, row in result.iterrows():
    df.loc[(df["BAIRRO"] == row.BAIRRO) & (df["DATA_OCORRENCIA"] == row.DATA_OCORRENCIA), "QUANTIDADE_ROUBOS"] = row.COUNT

In [ ]:

# def quantidade_crimes(x):
#     val = result.loc[(result["BAIRRO"] == x.BAIRRO) & (result["DATA_OCORRENCIA"] == x.DATA_OCORRENCIA), "COUNT"]
#     print(val.value)
    
# #df.ANO_CONCLUSAO_2_GRAU = df_predict.apply(ano_de_conclusao, axis = 1)
# df.apply(quantidade_crimes, axis = 1)

In [ ]:
#df.drop(df[df['DN'].str.contains("25/04/1885",na=False)].index, inplace=True)
# 25/04/1885 
#  df['IDADE'] = pd.to_datetime(df.DATA_OCORRENCIA) - pd.to_datetime(df.DN)
# df.DN.value_counts()

In [208]:
df.drop('TIPO_CRIME', axis=1, inplace=True)
df.drop('CIDADE', axis=1, inplace=True)
df.drop('RUA', axis=1, inplace=True)
df.drop('HORARIO', axis=1, inplace=True)

In [209]:
df.head()

,DATA_OCORRENCIA,BAIRRO,GENERO_VITIMA,DN,TIPO_DE_CRIME,ITEM_ROUBADO,HORA,PERIODO_HORA,IDADE,QUANTIDADE_ROUBOS
4,2015-07-07,JARDIM GOIÁS,FEMININO,1974-05-07,1.0,None,11,2,41,1.0
7,2015-08-28,SETOR BUENO,FEMININO,1992-09-24,2.0,None,20,4,22,2.0
10,2015-06-18,JARDIM GOIÁS,FEMININO,1970-08-25,1.0,None,16,3,44,1.0
11,2015-01-13,SETOR MORADA DO SOL,FEMININO,1961-08-17,1.0,None,2,1,53,1.0
13,2015-10-20,NOVA SUÍÇA,MASCULINO,1983-05-21,2.0,None,11,2,32,1.0

In [210]:
df.loc[df.GENERO_VITIMA == 'MASCULINO','GENERO_VITIMA'] = 1 #MASCULINO
df.loc[df.GENERO_VITIMA == 'FEMININO','GENERO_VITIMA'] = 2 #FEMININO
df.loc[df.GENERO_VITIMA == 'NÃO-INFORMADO','GENERO_VITIMA'] = 3 #'NÃO-INFORMADO'
df.loc[df.GENERO_VITIMA.isnull(),'GENERO_VITIMA'] = 3 #'NÃO-INFORMADO'
df.head()

,DATA_OCORRENCIA,BAIRRO,GENERO_VITIMA,DN,TIPO_DE_CRIME,ITEM_ROUBADO,HORA,PERIODO_HORA,IDADE,QUANTIDADE_ROUBOS
4,2015-07-07,JARDIM GOIÁS,2,1974-05-07,1.0,None,11,2,41,1.0
7,2015-08-28,SETOR BUENO,2,1992-09-24,2.0,None,20,4,22,2.0
10,2015-06-18,JARDIM GOIÁS,2,1970-08-25,1.0,None,16,3,44,1.0
11,2015-01-13,SETOR MORADA DO SOL,2,1961-08-17,1.0,None,2,1,53,1.0
13,2015-10-20,NOVA SUÍÇA,1,1983-05-21,2.0,None,11,2,32,1.0

In [211]:
df.corr(method='spearman')

                   TIPO_DE_CRIME      HORA     IDADE  QUANTIDADE_ROUBOS
TIPO_DE_CRIME           1.000000  0.135736 -0.200906          -0.108436
HORA                    0.135736  1.000000 -0.111357           0.010464
IDADE                  -0.200906 -0.111357  1.000000           0.029783
QUANTIDADE_ROUBOS      -0.108436  0.010464  0.029783           1.000000

In [212]:
df['DIA_SEMANA'] = df['DATA_OCORRENCIA'].dt.dayofweek

In [214]:
df.DIA_SEMANA.unique()

array([1, 4, 3, 6, 5, 2, 0])

In [243]:
import datetime as dt
df['DATA'] = pd.to_datetime(df['DATA_OCORRENCIA'])
df['DATA']=df['DATA'].map(dt.datetime.toordinal)

In [244]:
df.drop('DN', axis=1, inplace=True)
df.drop('ITEM_ROUBADO', axis=1, inplace=True)

ValueError: labels ['DN'] not contained in axis

In [245]:
df.dropna(inplace=True)

In [ ]:
# df.DATA_OCORRENCIA = df.DATA_OCORRENCIA.values.astype(np.int64)

In [246]:
features_values = df[['DATA','DIA_SEMANA','BAIRRO', 'GENERO_VITIMA','TIPO_DE_CRIME','HORA', 'PERIODO_HORA','IDADE']].values
features_values

array([[735786, 1, 'JARDIM GOIÁS', ..., 11, 2, 41],
       [735838, 4, 'SETOR BUENO', ..., 20, 4, 22],
       [735767, 3, 'JARDIM GOIÁS', ..., 16, 3, 44],
       ...,
       [736168, 5, 'SETOR CENTRAL', ..., 14, 3, 40],
       [736258, 4, 'SETOR AEROPORTO', ..., 17, 3, 31],
       [736259, 5, 'VILA JARAGUÁ', ..., 19, 4, 31]], dtype=object)

In [247]:
targuet_values = df[['QUANTIDADE_ROUBOS']].values
targuet_values = targuet_values[:,np.newaxis,0]
targuet_values

array([[  1.],
       [  2.],
       [  1.],
       ...,
       [ 18.],
       [  4.],
       [  1.]])

In [220]:
result = df.groupby(["BAIRRO"]).size().reset_index(name="COUNT")
result

                                                BAIRRO  COUNT
0    AEROCLUBE (PARQUE AERONÁUTICO ANTÔNIO SEBBA FI...      7
1                                           AEROVIÁRIO    524
2           ALPHAVILLE FLAMBOYANT RESIDENCIAL ARAGUAIA      8
3                                       ALTO DA GLÓRIA    444
4                                    ALTO DA GLÓRIA II     18
5                                   ALTO DA GLÓRIA III      2
6                                     ANDREIA CRISTINA     51
7                                           ANHANGUERA    188
8                                        ARAGUAIA PARK     22
9                                          ARUANÃ PARK      1
10                             BAIRRO NAO IDENTIFICADO    610
11                                           BOA VISTA     84
12                                              BR-153      1
13                                 CAMPUS II DA PUC/GO     10
14      CAMPUS UNIVERSITÁRIO DA UFG (CAMPUS SAMAMBAIA)     78
15                                             CAPUAVA    721
16                           CAPUAVA RESIDENCIAL PRIVÊ      2
17                                     CAROLINA PARQUE    110
18                         CAROLINA PARQUE COMPLEMENTO      4
19                            CAROLINA PARQUE EXTENSÃO      5
20                   CENTRO EMPRESARIAL BERNARDO SAYÃO     28
21                                  CHÁCARA BELA VISTA      5
22                                    CHÁCARA BOTAFOGO      1
23                                     CHÁCARA BURITIS      6
24                                     CHÁCARA COIMBRA      4
25                               CHÁCARA DO GOVERNADOR     68
26                               CHÁCARA ELÍSIO CAMPOS      7
27                                     CHÁCARA IPANEMA      1
28                                 CHÁCARA MARIA DILCE      7
29                                  CHÁCARA RIO BRANCO      1
..                                                 ...    ...
698                                  VILA SANTA ISABEL     37
699                                    VILA SANTA RITA     63
700                           VILA SANTA RITA 5ª ETAPA      2
701                                  VILA SANTA TEREZA      9
702                                       VILA SANTANA     14
703                                  VILA SANTO AFONSO      1
704                                 VILA SÃO FRANCISCO     33
705                                      VILA SÃO JOSÉ     71
706                                      VILA SÃO JOÃO     73
707                                      VILA SÃO LUÍZ     39
708                                     VILA SÃO PAULO      1
709                                     VILA SÃO TOMÁZ     19
710                                  VILA TEÓFILO NETO      3
711                                     VILA VERA CRUZ     17
712                                         VILA VIANA     22
713                                        VILA XAVIER     15
714                                          VILA YATE      1
715                                   VILA ÁGUA BRANCA      2
716                                    VILLAGE ATALAIA     29
717                                VILLAGE CASA GRANDE      7
718                                    VILLAGE MARINGÁ     18
719                                 VILLAGE SANTA RITA     30
720                                     VILLAGE VENEZA     16
721                                          VITÓRIA I      1
722                                         VITÓRIA II      5
723                                        VITÓRIA III     33
724                        ZONA INDUSTRIAL PEDRO ABRÃO      6
725                                         ZONA RURAL     69
726                                        ZONA URBANA     37
727                                        ÁGUA BRANCA    106

[728 rows x 2 columns]

In [248]:
for index, row in result.iterrows():
    df.loc[(df["BAIRRO"] == row.BAIRRO), "N_BAIRRO"] = index

In [249]:
features_values = df[['DATA','DIA_SEMANA','N_BAIRRO', 'GENERO_VITIMA','TIPO_DE_CRIME','HORA', 'PERIODO_HORA','IDADE']].values
features_values

array([[735786, 1, 195.0, ..., 11, 2, 41],
       [735838, 4, 520.0, ..., 20, 4, 22],
       [735767, 3, 195.0, ..., 16, 3, 44],
       ...,
       [736168, 5, 525.0, ..., 14, 3, 40],
       [736258, 4, 513.0, ..., 17, 3, 31],
       [736259, 5, 655.0, ..., 19, 4, 31]], dtype=object)

In [250]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(features_values,targuet_values)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [251]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features_values, targuet_values, test_size=0.8, random_state=42)

regr.fit(X_train, y_train)
regr.score(X_test,y_test)

0.032834933045167602