In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [102]:
df = pd.read_excel('crimes.xls')
sheets = pd.ExcelFile('crimes.xls').sheet_names
df = df[0:0]
for sheet in sheets:
        df = df.append(pd.read_excel('crimes.xls', sheet))

In [103]:
df.TIPO_CRIME.unique()

df.loc[df['TIPO_CRIME'].str.contains("CPB ART. 155"), 'TIPO_DE_CRIME'] = 1 #Furto
df.loc[df['TIPO_CRIME'].str.contains("CPB ART. 156"), 'TIPO_DE_CRIME'] = 1 #Furto
df.loc[df['TIPO_CRIME'].str.contains("CPB ART. 157"), 'TIPO_DE_CRIME'] = 2 #Roubo

In [104]:
df.TIPO_DE_CRIME.value_counts(dropna=False)
df.iloc([65536])

In [105]:
df['ITEM_ROUBADO'] = df['TIPO_CRIME'].str.split('->',expand=True)[2].str.strip()

# eu peguei as linhas que nao tinham ITEM_ROUBADO e retirei valores das TIPO_CRIME que estavam formatadas de formas diferentes
# pode ser interessante retirar o FURTO DE e ROUBO DE, daí vai realmente só sobrar o objeto
# mas no fim das coisas, vai ser um detalhamento do roubo ou furto, e nao objeto
df['ITEM_ROUBADO'].fillna(df['TIPO_CRIME'].str.split(':',expand=True)[1].str.strip(), inplace=True)
df['ITEM_ROUBADO'].value_counts(dropna=False)

ROUBO A TRANSEUNTE                                      17450
FURTO DE DOCUMENTOS                                     10545
OUTROS FURTOS                                            8976
ROUBO DE VEÍCULO                                         5736
ROUBO QUALIFICADO                                        5705
FURTO QUALIFICADO                                        5464
FURTO EM RESIDÊNCIA                                      4923
FURTO A USUÁRIOS DE TRANSPORTE COLETIVO                  4488
FURTO DE CELULAR                                         4122
FURTO EM VEÍCULO                                         3531
ROUBO DE CELULAR                                         3174
ROUBO EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS        2732
FURTO DE VEICULO                                         2494
FURTO EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS        2301
FURTO A TRANSEUNTE                                       2297
OUTROS ROUBOS                                            1714
ROUBO EM RESIDÊNCIA                                      1680
FURTO TENTATIVA                                          1434
ROUBO TENTATIVA                                          1351
ROUBO EM TRANSPORTE COLETIVO                              628
ROUBO DE DOCUMENTOS                                       300
FURTO DE COISA COMUM                                      267
FURTO DE HIDRÔMETRO (MEDIDOR DE ÁGUA)                     247
FURTO EM REPARTIÇÃO PÚBLICA                               235
ROUBO EM FARMÁCIA                                         183
ROUBO A POSTO DE COMBUSTÍVEL                              183
FURTO DE PADRÃO                                           168
FURTO DE BICICLETA                                        157
ROUBO COM RESTRIÇÃO À LIBERDADE DA VÍTIMA                 116
ROUBO SEGUIDO DE MORTE (LATROCÍNIO)                       100
ROUBO SEGUIDO DE MORTE (LATROCÍNIO TENTADO)                77
FURTO DE ARMAS                                             54
FURTO DE FIOS DE COBRE/ALUMÍNIO                            53
ROUBO DE CARGA                                             50
FURTO DE CARGA                                             38
FURTO DE COMPUTADORES/PERIFÉRICOS                          32
FURTO DE SEMOVENTES                                        30
ROUBO SAIDINHA DE BANCO                                    28
FURTO EM ZONA RURAL                                        20
ROUBO DE BICICLETA                                         16
FURTO DE BOTIJÃO DE GÁS                                    12
ROUBO EM ZONA RURAL                                        12
ROUBO COM RESTRIÇÃO DE LIBERDADE DA VÍTIMA                 11
ROUBO A ESTABELECIMENTO DE ENSINO                          10
ROUBO A INSTITUIÇÃO FINANCEIRA                             10
FURTO DE HODÔMETRO (MEDIDOR DE DISTANCIA PERCORRIDA)        8
FURTO DE APARELHO DE SOM DE AUTOMÓVEL                       7
ROUBO A CASA LOTÉRICA                                       5
ROUBO A ESTABELECIMENTO HOSPITALAR                          5
ROUBO DE JÓIAS                                              4
ROUBO DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS                    3
ROUBO DE SEMOVENTES                                         3
FURTO PRATICADO POR EMPREGADA DOMÉSTICA                     3
ROUBO A CAIXA ELETRÔNICO                                    2
ROUBO A OU DE VEICULO DE TRANSPORTE DE VALORES              1
FURTO DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS                    1
ROUBO A EXCURSÃO                                            1
Name: ITEM_ROUBADO, dtype: int64

In [106]:
# IMPLEMENTAÇÃO DAQUILO QUE FOI COMENTADO LOGO ACIMA, FICOU MUITO LENTO, DECIDI EXPORTAR COMO CSV

for i, row in df.iterrows():
    ii = row['ITEM_ROUBADO'].find('FURTO')
    if ii == -1:   
       ii = row['ITEM_ROUBADO'].find('ROUBO')
  
    if ii == 0:
       df.set_value(i, 'ITEM_ROUBADO', row['ITEM_ROUBADO'][6:len(row['ITEM_ROUBADO'])])
        
#df.to_csv('itemRoubadoProessado.csv')
df.ITEM_ROUBADO.unique()

array(['A TRANSEUNTE', 'EM VEÍCULO', 'EM RESIDÊNCIA', 'DE VEÍCULO',
       'DE VEICULO', 'DE CELULAR', 'TENTATIVA', 'QUALIFICADO',
       'EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS',
       'A USUÁRIOS DE TRANSPORTE COLETIVO', 'DE BICICLETA',
       'DE DOCUMENTOS', 'DE COISA COMUM', 'EM TRANSPORTE COLETIVO',
       'DE HIDRÔMETRO (MEDIDOR DE ÁGUA)', 'A POSTO DE COMBUSTÍVEL',
       'DE ARMAS', 'DE PADRÃO', 'EM REPARTIÇÃO PÚBLICA', 'EM FARMÁCIA',
       'SEGUIDO DE MORTE (LATROCÍNIO)',
       'DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS', 'DE SEMOVENTES',
       'COM RESTRIÇÃO À LIBERDADE DA VÍTIMA',
       'DE COMPUTADORES/PERIFÉRICOS',
       'COM RESTRIÇÃO DE LIBERDADE DA VÍTIMA', 'DE CARGA',
       'A INSTITUIÇÃO FINANCEIRA', 'SAIDINHA DE BANCO',
       'SEGUIDO DE MORTE (LATROCÍNIO TENTADO)',
       'A ESTABELECIMENTO DE ENSINO', 'DE APARELHO DE SOM DE AUTOMÓVEL',
       'DE FIOS DE COBRE/ALUMÍNIO', 'A CASA LOTÉRICA', 'DE BOTIJÃO DE GÁS',
       'EM ZONA RURAL', 'PRATICADO POR EMPREGADA DOMÉSTICA',
       'OUTROS ROUBOS', 'OUTROS FURTOS', 'A ESTABELECIMENTO HOSPITALAR',
       'DE HODÔMETRO (MEDIDOR DE DISTANCIA PERCORRIDA)', 'A EXCURSÃO',
       'DE JÓIAS', 'A CAIXA ELETRÔNICO',
       'A OU DE VEICULO DE TRANSPORTE DE VALORES'], dtype=object)

In [107]:

df.ITEM_ROUBADO.value_counts(dropna=False)

A TRANSEUNTE                                      23486
DE DOCUMENTOS                                     12124
DE CELULAR                                         9796
EM RESIDÊNCIA                                      8036
DE VEÍCULO                                         6737
EM ESTABELECIMENTO COMERCIAL OU DE SERVIÇOS        5971
A USUÁRIOS DE TRANSPORTE COLETIVO                  5254
QUALIFICADO                                        4775
OUTROS FURTOS                                      4473
EM VEÍCULO                                         4278
DE VEICULO                                         2921
TENTATIVA                                          1602
OUTROS ROUBOS                                       828
EM TRANSPORTE COLETIVO                              784
EM REPARTIÇÃO PÚBLICA                               288
DE HIDRÔMETRO (MEDIDOR DE ÁGUA)                     259
DE PADRÃO                                           223
EM FARMÁCIA                                         220
DE BICICLETA                                        211
A POSTO DE COMBUSTÍVEL                              209
DE CARGA                                            109
COM RESTRIÇÃO À LIBERDADE DA VÍTIMA                  77
DE COISA COMUM                                       76
DE ARMAS                                             67
SEGUIDO DE MORTE (LATROCÍNIO TENTADO)                65
SEGUIDO DE MORTE (LATROCÍNIO)                        52
DE FIOS DE COBRE/ALUMÍNIO                            46
EM ZONA RURAL                                        38
DE SEMOVENTES                                        35
DE COMPUTADORES/PERIFÉRICOS                          35
SAIDINHA DE BANCO                                    30
A INSTITUIÇÃO FINANCEIRA                             13
COM RESTRIÇÃO DE LIBERDADE DA VÍTIMA                 12
DE BOTIJÃO DE GÁS                                    11
DE APARELHO DE SOM DE AUTOMÓVEL                      10
A ESTABELECIMENTO DE ENSINO                           9
DE HODÔMETRO (MEDIDOR DE DISTANCIA PERCORRIDA)        9
DE MÁQUINAS AGRÍCOLAS E ACESSÓRIOS                    7
A CASA LOTÉRICA                                       6
A ESTABELECIMENTO HOSPITALAR                          6
PRATICADO POR EMPREGADA DOMÉSTICA                     4
DE JÓIAS                                              2
A EXCURSÃO                                            1
A OU DE VEICULO DE TRANSPORTE DE VALORES              1
A CAIXA ELETRÔNICO                                    1
Name: ITEM_ROUBADO, dtype: int64

In [108]:
df['DIA_SEMANA'] = df['DATA_OCORRENCIA'].dt.dayofweek
df.head()

,TIPO_CRIME,DATA_OCORRENCIA,HORARIO,CIDADE,BAIRRO,RUA,GENERO_VITIMA,DN,TIPO_DE_CRIME,ITEM_ROUBADO,DIA_SEMANA
0,CPB ART. 155 § 4º: FURTO QUALIFICADO,2014-12-15,02:00,GOIÂNIA,JARDIM GUANABARA II,"AVENIDA GB-05, AREA ESPECIAL",NaN,NaN,1.0,A TRANSEUNTE,0
1,CPB ART. 155 § 4º: FURTO QUALIFICADO,2014-11-08,10:00,GOIÂNIA,AEROVIÁRIO,RUA 612,NaN,NaN,1.0,EM VEÍCULO,5
2,CPB ART. 156: FURTO DE COISA COMUM,2014-12-18,09:00,GOIÂNIA,SETOR SUL,RUA 83,MASCULINO,1979-08-10 00:00:00,1.0,EM RESIDÊNCIA,3
3,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-09-23,08:55,GOIÂNIA,SETOR SUDOESTE,RUA C 56,MASCULINO,1987-03-05 00:00:00,1.0,DE VEÍCULO,2
4,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-07-07,11:30,GOIÂNIA,JARDIM GOIÁS,AV. JAMEL CECÍLIO,FEMININO,1974-05-07 00:00:00,1.0,EM VEÍCULO,1

In [109]:
df['HORA'] = pd.to_datetime(df['HORARIO'], format='%H:%M').dt.hour
df['PERIODO_HORA'] = pd.cut(df.HORA,[0,6,12,18,24],labels=[1,2,3,4]) # 1 - MADRUGADA, 2 - MANHÃ, 3 - TARDE, 4 - NOITE
count_status_periodo = pd.value_counts(df['PERIODO_HORA'].values, sort=True)
count_status_periodo

2    27120
4    26825
3    26705
1    10407
dtype: int64

In [110]:
df = df[pd.notnull(df['DN'])]
df2 = df.loc[df['DN'].str.contains('-')==False]
df = df.drop(df2.DN.index)
df['DATA_OCORRENCIA'] = pd.to_datetime(df['DATA_OCORRENCIA'])
df['DN'] = pd.to_datetime(df['DN'])
df['IDADE'] = ((df['DATA_OCORRENCIA'] -df['DN'])/365).dt.days
df.drop(df[df['IDADE'] > 100].index, inplace=True)
df.drop(df[df['IDADE'] < 10].index, inplace=True)
df.loc[df['IDADE']<=11,'FAIXA_ETARIA'] = 0 # crianca
df.loc[df['IDADE']>11,'FAIXA_ETARIA'] = 1 # adolescente
df.loc[df['IDADE']>20,'FAIXA_ETARIA'] = 2 # jovem
df.loc[df['IDADE']>29,'FAIXA_ETARIA'] = 3 # adulto
df.loc[df['IDADE']>60,'FAIXA_ETARIA'] = 4 # idoso
df.loc[df['IDADE']>80,'FAIXA_ETARIA'] = 5 # veterano
df.FAIXA_ETARIA.value_counts()

3.0    42652
2.0    21433
1.0     9758
4.0     6766
5.0      354
0.0       25
Name: FAIXA_ETARIA, dtype: int64

In [111]:
result = df.groupby(["BAIRRO", "DATA_OCORRENCIA"]).size().reset_index(name="COUNT")

for index, row in result.iterrows():
    df.loc[(df["BAIRRO"] == row.BAIRRO) & (df["DATA_OCORRENCIA"] == row.DATA_OCORRENCIA), "QUANTIDADE_ROUBOS"] = row.COUNT

In [112]:

# def quantidade_crimes(x):
#     val = result.loc[(result["BAIRRO"] == x.BAIRRO) & (result["DATA_OCORRENCIA"] == x.DATA_OCORRENCIA), "COUNT"]
#     print(val.value)
    
# #df.ANO_CONCLUSAO_2_GRAU = df_predict.apply(ano_de_conclusao, axis = 1)
# df.apply(quantidade_crimes, axis = 1)

In [113]:
#df.drop(df[df['DN'].str.contains("25/04/1885",na=False)].index, inplace=True)
# 25/04/1885 
#  df['IDADE'] = pd.to_datetime(df.DATA_OCORRENCIA) - pd.to_datetime(df.DN)
# df.DN.value_counts()

In [114]:
#df.drop('TIPO_CRIME', axis=1, inplace=True)
df.drop('CIDADE', axis=1, inplace=True)
df.drop('RUA', axis=1, inplace=True)
#df.drop('HORARIO', axis=1, inplace=True)

In [115]:
df.head()

,TIPO_CRIME,DATA_OCORRENCIA,HORARIO,BAIRRO,GENERO_VITIMA,DN,TIPO_DE_CRIME,ITEM_ROUBADO,DIA_SEMANA,HORA,PERIODO_HORA,IDADE,FAIXA_ETARIA,QUANTIDADE_ROUBOS
2,CPB ART. 156: FURTO DE COISA COMUM,2014-12-18,09:00,SETOR SUL,MASCULINO,1979-08-10,1.0,EM RESIDÊNCIA,3,9,2,35,3.0,1.0
3,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-09-23,08:55,SETOR SUDOESTE,MASCULINO,1987-03-05,1.0,DE VEÍCULO,2,8,2,28,2.0,1.0
4,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-07-07,11:30,JARDIM GOIÁS,FEMININO,1974-05-07,1.0,EM VEÍCULO,1,11,2,41,3.0,1.0
5,CPB ART. 155 C/C ART. 14 INC. II: FURTO TENTATIVA,2015-10-15,10:00,JARDIM NOVO MUNDO,FEMININO,1987-10-26,1.0,DE VEÍCULO,3,10,2,27,2.0,1.0
7,CPB ART. 157 § 2º: ROUBO QUALIFICADO,2015-08-28,20:00,SETOR BUENO,FEMININO,1992-09-24,2.0,DE VEICULO,4,20,4,22,2.0,3.0

In [116]:
df.loc[df.GENERO_VITIMA == 'MASCULINO','GENERO_VITIMA'] = 1 #MASCULINO
df.loc[df.GENERO_VITIMA == 'FEMININO','GENERO_VITIMA'] = 2 #FEMININO
df.loc[df.GENERO_VITIMA == 'NÃO-INFORMADO','GENERO_VITIMA'] = 3 #'NÃO-INFORMADO'
df.loc[df.GENERO_VITIMA.isnull(),'GENERO_VITIMA'] = 3 #'NÃO-INFORMADO'
df.head()

,TIPO_CRIME,DATA_OCORRENCIA,HORARIO,BAIRRO,GENERO_VITIMA,DN,TIPO_DE_CRIME,ITEM_ROUBADO,DIA_SEMANA,HORA,PERIODO_HORA,IDADE,FAIXA_ETARIA,QUANTIDADE_ROUBOS
2,CPB ART. 156: FURTO DE COISA COMUM,2014-12-18,09:00,SETOR SUL,1,1979-08-10,1.0,EM RESIDÊNCIA,3,9,2,35,3.0,1.0
3,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-09-23,08:55,SETOR SUDOESTE,1,1987-03-05,1.0,DE VEÍCULO,2,8,2,28,2.0,1.0
4,CPB ART. 155 § 4º: FURTO QUALIFICADO,2015-07-07,11:30,JARDIM GOIÁS,2,1974-05-07,1.0,EM VEÍCULO,1,11,2,41,3.0,1.0
5,CPB ART. 155 C/C ART. 14 INC. II: FURTO TENTATIVA,2015-10-15,10:00,JARDIM NOVO MUNDO,2,1987-10-26,1.0,DE VEÍCULO,3,10,2,27,2.0,1.0
7,CPB ART. 157 § 2º: ROUBO QUALIFICADO,2015-08-28,20:00,SETOR BUENO,2,1992-09-24,2.0,DE VEICULO,4,20,4,22,2.0,3.0

In [117]:
df.corr(method='spearman')

,TIPO_DE_CRIME,DIA_SEMANA,HORA,IDADE,FAIXA_ETARIA,QUANTIDADE_ROUBOS
TIPO_DE_CRIME,1.000000,-0.017697,0.135725,-0.200897,-0.192057,-0.111626
DIA_SEMANA,-0.017697,1.000000,0.003347,-0.019477,-0.017654,-0.010677
HORA,0.135725,0.003347,1.000000,-0.111873,-0.102401,0.009911
IDADE,-0.200897,-0.019477,-0.111873,1.000000,0.912959,0.032425
FAIXA_ETARIA,-0.192057,-0.017654,-0.102401,0.912959,1.000000,0.023855
QUANTIDADE_ROUBOS,-0.111626,-0.010677,0.009911,0.032425,0.023855,1.000000

In [118]:
df['DIA_SEMANA'] = df['DATA_OCORRENCIA'].dt.dayofweek

In [119]:
df.DIA_SEMANA.unique()

array([3, 2, 1, 4, 6, 5, 0], dtype=int64)

In [120]:
import datetime as dt
df['DATA'] = pd.to_datetime(df['DATA_OCORRENCIA'])
df['DATA']=df['DATA'].map(dt.datetime.toordinal)

In [121]:
df.drop('DN', axis=1, inplace=True)
#df.drop('ITEM_ROUBADO', axis=1, inplace=True)

In [122]:
df.dropna(inplace=True)

In [123]:
# df.DATA_OCORRENCIA = df.DATA_OCORRENCIA.values.astype(np.int64)

#result = df.groupby(["BAIRRO"]).size().reset_index(name="COUNT")
#result

In [124]:
for index, row in result.iterrows():
    df.loc[(df["BAIRRO"] == row.BAIRRO), "N_BAIRRO"] = index

In [125]:

#df = df.drop('RUA', axis=1)
#df = df.drop('IDADE', axis=1)

In [126]:
list(df.columns.values)

['TIPO_CRIME',
 'DATA_OCORRENCIA',
 'HORARIO',
 'BAIRRO',
 'GENERO_VITIMA',
 'TIPO_DE_CRIME',
 'ITEM_ROUBADO',
 'DIA_SEMANA',
 'HORA',
 'PERIODO_HORA',
 'IDADE',
 'FAIXA_ETARIA',
 'QUANTIDADE_ROUBOS',
 'DATA',
 'N_BAIRRO']

In [131]:
df.to_csv('CRIMESTRATADOSs.csv')

In [132]:
writer = pd.ExcelWriter('C:\output.xlsx')
df.to_excel(writer,'Sheet1')